@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* GENERAL SETTINGS */
a {
  text-decoration: none;
  color: #b3b3b3
}
a:hover{
  color: #fff;
}

li {
  padding: 10px 0;
  list-style: none;
}

p,
span {
  color: #b3b3b3;
}

.visible {
  display: inline-block;
}

.container_root {
  width: 100%;
  height: 100vh;
}

/* ROOT */

.root_top {
  display: flex;
  width: 100%;
  height: calc(100% - 90px);
  overflow: hidden;
}
.root_bottom {
  width: 100%;
  height: 90px;
}
/* ROOT - FIRST LEVEL */

.root_nav {
  width: 250px;
  height: 100%;
  min-height: 480px;
  padding: 15px;
  overflow: hidden;
  background-color: #040404;
}

.root_player {
  width: 100%;
  height: 90px;
  background-color: #282828;
}

/* NAVBAR */

.nav_top {
  display: flex;
  flex-direction: column;
  height: calc(100% - 90px);
  overflow: hidden;
}
.nav_bottom {
  height: 90px;
}

/* -Navbar Logo */
.nav_logo {
  width: 70%;
  margin-bottom: 20px;
}
.spotify_logo {
  max-width: 100%;
}
.spotify_logo_no_text {
  display: none;
}

/* -Navbar Pages Selection */

.nav_pages_selection {
  margin-bottom: 20px;
}
.nav_pages_selection li a {
 display: flex;
 align-items: center;
}

.nav_pages_selection li a div:last-child {
  padding-left: 10px;
}

/* GREEN LINE */
.nav_pages_selection > ul::after {
  width: 10px;
  height: 10px;
  background-color: red;
}

/* -Navbar Playslist */

.nav_playlist {
  width: 100%;
  overflow: hidden;
}

.nav_playlist h1 {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.playlist_add {
  width: 100%;
  padding: 20px 0;
}

.button_playlist_add {
  display: flex;
  align-items: center;
  width: 100%;
}

.button_playlist_add:hover .button_plus {
  background-color: #fff;
  cursor: pointer;
}
.button_playlist_add:hover span {
  color: #fff;
  cursor: pointer;
}

.button_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: black;
  background-color: #b3b3b3
}

.button_playlist_add span {
  color: #b3b3b3;
  font-weight: 600;
  padding-left: 10px;
}

.playlist_names {
  margin-bottom: 20px;
  height: 60%;
  overflow-y: auto;
}


/* -Navbar Account */

.nav_account {
  width: calc(100% - 30px);
  background-color: #040404;
}
.nav_account span {
  padding-left: 10px;
}
.install_app_section {
  display: flex;
  font-size: 15px;
  padding: 10px 0;
  border-bottom: 1px solid gray;
  color: #b3b3b3
}
.account_profile {
  display: flex;
  font-size: 15px;
  padding: 10px 0;
  color: #fff;
}
.account_profile i,
.install_app_section i {
  font-size: 20px;
}


/* CTA */

/* .main_cta_bar {
  position: fixed;
  right: 0;
  top:0;
  width: calc(100% - 240px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 1;
}
.upgrade_premium {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.upgrade_premium a {
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 20px;
}
.upgrade_premium a:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
} */


/* MAIN */

.main_view{
  width: calc(100% - 250px);
  height: 100%;
  background-color: #131313;
  overflow-y: scroll;
}

.upgrade_premium {
  height: 90px;
  width: 100%;
  line-height: 90px;
  background-color: rgba(0, 0, 0, 0.9);
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: right;
}

.upgrade_premium a {
  margin-right: 20px;
  padding: 20px 30px;
  vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
}

.upgrade_premium a:hover {
  transform: scale(1.5);
}

.content_bar {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.content_bar ul {}

.content_bar li {
  display: inline-block;
  font-size: 15px;
  padding: 20px;
  color: #b3b3b3;
}

.content {
  padding: 0 20px;
}
.title_block {
  display: flex;
  justify-content: space-between;
}
.title_block span {
  font-size: 10px;
}

.recently,
.for_you,
.popular {
  margin-bottom: 30px;
  color: #fff;
}

.recently .container_blocks,
.for_you .container_blocks,
.popular .container_blocks {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.recently .block,
.for_you .block,
.popular .block {
  position: relative;
  width: calc((100% / 6) - 10px);
  margin-left: 10px;
  margin-top: 10px;
}
.recently .block:first-of-type,
.for_you .block:first-of-type,
.popular .block:first-of-type {
  margin-left: 0;
}

.recently .block img,
.for_you .block img {
  width: 100%;
}

.popular .block img {
  width: 100%;
  border-radius: 100%;
}


.layover {
  position: relative;
  width: 100%;
  height: 100%;
}

.recently .block img:hover  {
  opacity: 0.5;
  transition: 0.4s ease;
}


/* MEDIA MD */

@media screen and (min-width: 768px) and (max-width: 992px) {

  .recently .block,
  .for_you .block,
  .popular .block {
    width: calc((100% / 4) - 10px);
    margin-left: 10px;
    margin-top: 10px;
  }
}


/* MEDIA XS */

@media screen and (max-width: 767px) {

  .root_nav {
    max-width: 50px;
  }
  .main_view{
    width: calc(100% - 50px);
  }
  .visible {
    display: none;
  }

  /* NAVBAR */

  .root_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  .root_nav .nav_logo {
    width: 100%;
    margin-bottom: 0;
  }

  .spotify_logo_no_text {
    display: inline-block;
    width: 100%;
  }
  .nav_pages_selection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .root_nav .nav_account .install_app_section {
    border-bottom: 0;
  }

  /* CTA */
  .main_cta_bar {
    width: calc(100% - 50px);
  }

  .recently .block,
  .for_you .block,
  .popular .block {
    width: calc((100% / 2) - 10px);
    margin-left: 10px;
    margin-top: 10px;
  }

}
