@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* GENERAL SETTINGS */
a {
  text-decoration: none;
  color: #b3b3b3
}
li {
  padding: 10px 0;
  list-style: none;
}

.container_root {
  width: 100%;
  height: 100vh;
}
/* root level 1 */
.root_top {
  display: flex;
  width: 100%;
  height: calc(100% - 90px);
}
.root_bottom {
  width: 100%;
  height: 90px;
}
/* root level 2 */
.root_nav {
  width: 240px;
  height: 100%;
  background-color: #040404;
}
.root_main_view{
  width: calc(100% - 240px);
  height: 100%;
  background-color: #131313;
}
.root_player {
  width: 100%;
  height: 90px;
  background-color: #282828;
}

/* NAVBAR */

.root_nav nav {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: hidden;
}
/* -Navbar Logo */
.root_nav .nav_logo {
  width: 100%;
  margin-bottom: 20px;
}
.root_nav .nav_logo img {
  max-width: 70%; /*CHANGE THIS LATER */
}

/* -Navbar Pages Selection */
.root_nav .nav_pages_selection {
  margin-bottom: 20px;
}
.root_nav .nav_pages_selection li a {
 display: flex;
 align-items: center;
}
.root_nav .nav_pages_selection li a div:last-child {
  padding-left: 10px;
}

/* -Navbar Playslist */
.root_nav .nav_playlist {
  width: 100%;
}

.root_nav .nav_playlist h1 {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.root_nav .nav_playlist .playlist_add {
  width: 100%;
  padding: 20px 0;
}

.root_nav .nav_playlist .playlist_add .button_playlist_add {
  display: flex;
  align-items: center;
  width: 100%;
}

.root_nav .nav_playlist .playlist_add .button_playlist_add .button_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #b3b3b3

}
.root_nav .nav_playlist .playlist_add .button_playlist_add span {
  color: #b3b3b3;
  font-weight: 600;
  padding-left: 10px;
}

.root_nav .nav_playlist .playlist_names {
  margin-bottom: 20px;
  overflow: scroll;
}

/* -Navbar Account */

.root_nav .nav_account {
  position: absolute;
  width: calc(100% - 30px);
  bottom: 0;
  background-color: #040404;
}
.root_nav .nav_account span {
  padding-left: 10px;
}
.root_nav .nav_account .install_app_section {
  display: flex;
  font-size: 15px;
  padding: 10px 0;
  border-bottom: 1px solid gray;
  color: #b3b3b3
}
.root_nav .nav_account .account_profile {
  display: flex;
  font-size: 15px;
  padding: 10px 0;
  color: #fff;
}
.root_nav .nav_account .account_profile i,
.root_nav .nav_account .install_app_section i {
  font-size: 20px;
}
